<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../static/css/registration/registration-form.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="top">
    <i class="fa fa-mortar-board"></i>
    <h2>Student Management System</h2>
</div>

<div class="container">

    <h3>Registration</h3>
    <form action="#" method="POST">

        <div class="form-input-item">
            <span>User name: </span>
            <input type="text" name="userName" placeholder="Enter username">
            <p class="error">Invalid user name! </p>
        </div>

        <div class="form-input-item">
            <span>Password: </span>
            <input type="password" name="password" placeholder="Enter password">
            <p class="error">Invalid password! </p>
        </div>

        <div class="form-input-item">
            <span>First name: </span>
            <input type="text" name="firstName" placeholder="Enter first name">
            <p class="error">Invalid first name! </p>
        </div>

        <div class="form-input-item">
            <span>Last name: </span>
            <input type="text" name="lastName" placeholder="Enter last name">
            <p class="error">Invalid last name! </p>
        </div>

        <div class="form-input-item">
            <span>Email: </span>
            <input type="text" name="email" placeholder="Enter email">
            <p class="error">Invalid email! </p>
        </div>

        <div class="form-input-item">
            User role:
            <select name="role">
                <option value="ROLE_STUDENT">Student</option>
                <option value="ROLE_TEACHER">Teacher</option>
            </select>
        </div>

        <button type="submit">Register</button>

    </form>

    <hr>
    <!-- Static, please change to go to login page -->
    <div class="bottom-link">
        <span id="login">Already have an account?</span>
        <a href="#">Click here to login!</a>
    </div>
</div>

<div class="bottom"></div>

</body>

</html>
