h3 {
	font-size: 22px;
}

.content {
	font-size: 18px;	
}

.content span {
	font-weight: bold;
}

.content div {
	margin-bottom: 10px;
}

#completed {
	font-weight: normal;
	color: green;
}

#incomplete {
	font-weight: normal;
	color: #ff1616;
}

.button {
	display: inline-block;
	background-color: rgba(19, 103, 200, 1);
	text-decoration: none;
	width: 160px;
	line-height: 35px;
	color: black;
    text-align: center;
    border-radius: 5px;
    margin-top:10px;
}

.button:hover {
	background-color: rgba(19, 103, 200, 0.7);
}

/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  text-align: center;
  border-radius: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-confirm, .btn-cancel {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.btn-confirm {
    background-color: #4CAF50;
    color: white;
    text-decoration: none; /* For the link */
}

.btn-cancel {
    background-color: #f44336;
    color: white;
}

.btn-confirm:hover {
    background-color: #45a049;
}

.btn-cancel:hover {
    background-color: #da190b;
}
